* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

input {
  border: 0;
  background: none;
}
input:focus {
  border: none;
  outline: none;
}

button {
  background: none;
  border: none;
}
button:focus {
  border: none;
  outline: none;
}

img {
  border: none;
}

hr {
  border: none;
}
